.page-container {
    /* Quitar el margin-left aquí porque lo hacemos dinámico desde App.js */
    padding: 0; /* El padding lo aplicamos en main */
    background: transparent;
    min-height: auto;
    font-family: 'Segoe UI', sans-serif;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.table-container {
    width: 100%;
}

.MuiTable-root {
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

    .header h1 {
        font-size: 2rem;
        color: #0057b8;
        font-weight: bold;
    }

.search-bar {
    margin-bottom: 1.5rem;
}

.table-header th {
    background-color: #0057b8;
    color: white;
    font-weight: bold;
    text-align: left;
}

.actions-cell button {
    margin-right: 0.5rem;
}

.pagination-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
}
